<ion-header>
  <ion-toolbar color = "secondary">
    <ion-buttons>
      <ion-button (click)= "goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title text-center>Annuncio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
    <ion-fab-button color= "tertiary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list>
      <ion-fab-button color="light" (click)="paginaRegistrazione()">
        <ion-icon name="person-add"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" (click)="paginaIncontri()">
        <ion-icon name="clock"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" (click)="approvaDomanda()">
        <ion-icon name="filing"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" (click)="caricaDocumenti()">
        <ion-icon name="archive"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
    <ion-card class = "cardcompleta" color = "secondary">
        <ion-grid>
            <ion-row>
              <ion-col col-md-6></ion-col>
                <ion-icon horizontal = "center" name="mail-open" class = "immagine"></ion-icon>
              <ion-col col-md-6></ion-col>
            </ion-row>
          </ion-grid>
        <ion-card-header>
           <ion-card-title class = "centro">Dati annuncio</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item class = "margine">
              <ion-label color="secondary" position = "floating">Titolo</ion-label>
              <ion-input [(ngModel)]= "annuncio.titolo"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="secondary">Data</ion-label>
            <ion-datetime [(ngModel)]="annuncio.data" value="1990-02-19" placeholder="Seleziona la data"></ion-datetime>
          </ion-item>
          <ion-item class = "margine">
            <ion-label color="secondary">Orario</ion-label>
            <ion-datetime [(ngModel)]="annuncio.data" display-format="h:mm A" picker-format="h:mm A" value="1990-02-19T07:43Z"></ion-datetime>
        </ion-item>
          <ion-item class = "margine">
            <ion-label color="secondary">Dettagli</ion-label>
            <ion-textarea [(ngModel)]= "annuncio.descrizione" placeholder = "Inserisci maggiori informazioni">
            </ion-textarea>
          </ion-item>

          <ion-button class="bottoneColor" color= danger (click) = "aggiungiAnnuncio()" expand = "full" fill = "solid" shape = "round" size = "large">Inserisci annuncio</ion-button>
          <a class = "link" (click)="goBack()">Clicca qui per annullare l'operazione</a>
        </ion-card-content>
      </ion-card>
      <div></div>
      <h2 text-center *ngIf="annunciAggiunti">Annunci che hai caricato</h2>
        <ion-card class = "secondacard" text-center *ngFor="let item of annunci | async">
        <ion-card-header>
          <ion-card-title color = "secondary">
           {{ item.titolo }}
          </ion-card-title>
        </ion-card-header>
 
        <ion-card-content>
          <p>Data: {{item.data}}</p>
          <p>Orario: {{item.ora}}</p>
          <p>Descrizione : {{ item.descrizione }}</p>
          <ion-button (click)= "elimanAnnuncio(item)" color = secondary>Elimina annuncio</ion-button>
        </ion-card-content>
      </ion-card>
</ion-content>