<ion-header>
    <ion-toolbar>
      <ion-icon name="arrow-back" (click)="goBack()" class = "dash"></ion-icon>
      <ion-icon name="clock" (click)="goBack()" class = "dash"></ion-icon>
      <ion-label class = "intestazione">Inserisci Nuovo Incontro</ion-label>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class = "cardcompleta">
    <ion-grid>
      <ion-row>
        <ion-col col-md-6></ion-col>
          <ion-icon horizontal = "center" name="clock" class = "immagine"></ion-icon>
        <ion-col col-md-6></ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-md-4></ion-col>
        <ion-col col-md-4>
          <ion-searchbar placeholder = "ricerca utente"></ion-searchbar>
        </ion-col>
        <ion-col col-md-4></ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
    <ion-grid>
      <ion-row>
        <ion-col col-md-6 class = "colonna1">
          <h1>Risultato della ricerca</h1>
          <ion-list>
            <ion-item>
              <ion-avatar slot="start">
                <ion-icon class = "avatar" name="contact"></ion-icon>
               </ion-avatar>
              <ion-label>
                <h2>Nome Cognome</h2>
              </ion-label>
             </ion-item>
          </ion-list>
          <h1>Altre informazioni dell'utente</h1>
          <p>Verranno inserite avrie informazioni inerenti a dati anagrafici dell'utente ricercato
            più la possibilità di verificare se ha già caricato i suoi documenti o meno.
          </p>
        </ion-col>
        <ion-col col-md-6 class = "colonna1">
          <h1>Dettagli incontro</h1>
            <ion-item class= "marginemod">
                <ion-label>Referente</ion-label>
                <ion-select ok-text="Seleziona" cancel-text="Annulla">
                  <ion-select-option value="napoli">Antonio Fasulo</ion-select-option>
                  <ion-select-option value="avellino">Francesco Garofalo</ion-select-option>
                  <ion-select-option value="nola">Anna Tomeo</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item class = "marginemod">
                <ion-label>Data</ion-label>
                <ion-datetime value="02-11-2019" placeholder="Select Date"></ion-datetime>
            </ion-item>
            <ion-item class = "marginemod">
                <ion-label>Start Time</ion-label>
                <ion-datetime display-format="h:mm A" picker-format="h:mm A" value="1990-02-19T07:43Z"></ion-datetime>
            </ion-item>
            <h2>Indirizzo dell'incontro</h2>
            <p>L'indirizzo deve essere un parametro standard</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-md-5></ion-col>
        <ion-col col-md-2>
          <ion-button (click)= "inseriscIncontro()" expand = "full" color = "tertiary" fill = "solid" shape = "round" size = "large">Conferma Incontro</ion-button>
        </ion-col>
        <ion-col col-md-5></ion-col>
      </ion-row>
    </ion-grid>
</ion-content>