<ion-header>
  <ion-toolbar color = "secondary">
    <ion-buttons>
      <ion-button (click)= "goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title text-center>Inserisci incontro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
    <ion-fab-button color= "tertiary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list>
      <ion-fab-button color="light" (click)="otherFunction()">
        <ion-icon name="cog"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <ion-card class = "cardcompleta" color = "secondary">
    <ion-grid>
      <ion-row>
        <ion-col col-md-6></ion-col>
          <ion-icon horizontal = "center" name="clock" class = "immagine"></ion-icon>
        <ion-col col-md-6></ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-md-4></ion-col>
        <ion-col col-md-4>
          <ion-row>
            <ion-searchbar (click)="effettuaRicerca()" [(ngModel)] = "valorericerca" placeholder = "ricerca utente"></ion-searchbar>
          </ion-row>
        </ion-col>
        <ion-col col-md-4></ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
    <ion-grid>
      <ion-row>
        <ion-col col-md-6 class = "colonna1" *ngIf="ricercaFatta">
          <ion-col col-md-6 class = "colonna1" *ngFor = "let item of items | async">
            <h1>Risultato della ricerca</h1>
            <h2 text-center>{{item.email}}</h2>
            <h1>Altre informazioni</h1>
            <p>Nome:</p> {{item.nome}}
            <p>Cognome:</p> {{item.cognome}}
            <p>Data Nascita: {{item.datanascita}}</p>
            <p>Codice fiscale:</p> {{item.codice_fiscale}}
            <p>Indirizzo:</p> {{item.indirizzo}}
            <a class = "link" (click)="goBack()">Clicca qui per annullare l'operazione</a>
          </ion-col>
        </ion-col>
        <ion-col col-md-6 class = "colonna1">
          <h1>Dettagli incontro</h1>
            <ion-item class= "marginemod">
                <ion-label color="secondary">Referente</ion-label>
                <ion-select ok-text="Seleziona" cancel-text="Annulla" [(ngModel)]="incontro.emailReferente">
                  <div *ngFor = "let ref of referenti | async">
                  <ion-select-option value = {{ref.email}}>{{ref.email}}</ion-select-option>
                  </div>
                </ion-select>
            </ion-item>
            <ion-item class = "marginemod">
                <ion-label color="secondary">Data</ion-label>
                <ion-datetime [(ngModel)]="incontro.data" value="02-11-2019" placeholder="Select Date"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label color="secondary">Orario</ion-label>
                <ion-datetime [(ngModel)]="incontro.data" display-format="h:mm A" picker-format="h:mm A" value="1990-02-19T07:43Z"></ion-datetime>
            </ion-item>
            <ion-searchbar (click)="ricercaIndirizzi()" [(ngModel)] = "cityMeeting" placeholder = "Città dell'incontro"></ion-searchbar>
            <ion-item class= "marginemod" *ngIf="ricercaSede">
              <ion-label color="secondary">Scegli indirizzi associati alla provincia selezionata</ion-label>
              <ion-select ok-text="Seleziona" cancel-text="Annulla" [(ngModel)]="incontro.indirizzo">
                <div *ngFor = "let sedi of sedi | async">
                <ion-select-option value = {{sedi.Indirizzo}}>{{sedi.Indirizzo}}</ion-select-option>
              </div>
              </ion-select>
          </ion-item>
          <ion-item>
            <ion-label  position="floating" color="secondary">Altre info</ion-label>
            <ion-input [(ngModel)]="incontro.optional" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-md-5></ion-col>
        <ion-col col-md-2>
          <ion-button (click)= "aggiungiIncontro()" expand = "full" color = "secondary" fill = "solid" shape = "round" size = "large">Conferma Incontro</ion-button>
        </ion-col>
        <ion-col col-md-5></ion-col>
      </ion-row>
    </ion-grid>
    <div *ngFor = "let inc of incontri | async">
      <p>Indirizzo: {{inc.indirizzo}}</p>
      <p>Referente: {{inc.emailReferente}}</p>
      <p>Utente: {{inc.emailUtente}}</p>
    </div>
</ion-content>