<ion-header>
    <ion-toolbar>
      <ion-icon name="arrow-back" (click)="goBack()" class = "dash"></ion-icon>
      <ion-icon name="archive" (click)="goBack()" class = "dash"></ion-icon>
      <ion-label class = "intestazione">Carica documento</ion-label>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class = "cardcompleta">
        <ion-grid>
            <ion-row>
              <ion-col col-md-6></ion-col>
                <ion-icon horizontal = "center" name="archive" class = "immagine"></ion-icon>
              <ion-col col-md-6></ion-col>
            </ion-row>
          </ion-grid>
        <ion-card-header>
           <ion-card-title color = "light" class = "centro">View Documenti caricati</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-card class = "cardAnnuncio">
            <ion-card-header>
              <ion-card-title>Documenti</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-grid>
                <ion-row>
                  <ion-col col-md-2>
                    <ion-icon class = "immagine2" name="document"></ion-icon>
                  </ion-col>
                  <ion-col col-md-8>
                      <h1 class = "titolo"> Titolo del documento </h1>
                      <p>Descrizione del documento</p>
                  </ion-col>
                  <ion-col col-md-2>
                    <ion-button (click)= "goBack()" expand = "full" color = "danger" fill = "solid" shape = "round" size = "large">Elimina</ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
          <ion-card class = "cardAnnuncio">
              <ion-card-header>
                <ion-card-title>Annuncio</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col col-md-2>
                      <ion-icon class = "immagine2" name="document"></ion-icon>
                    </ion-col>
                    <ion-col col-md-8>
                        <h1 class = "titolo"> Titolo del documento </h1>
                        <p>Descrizione del documento</p>
                    </ion-col>
                    <ion-col col-md-2>
                      <ion-button (click)= "goBack()" expand = "full" color = "danger" fill = "solid" shape = "round" size = "large">Elimina</ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
        </ion-card-content>
      </ion-card>

      <ion-card class = "cardcompleta">
          <ion-card-header>
             <ion-card-title color = "light" class = "centro">Inserisci nuovo documento</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item class = "margine">
                <ion-label position = "floating">Titolo</ion-label>
                <ion-input></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Descizione</ion-label>
              <ion-textarea placeholder = "Inserisci maggiori informazioni">
              </ion-textarea>
            </ion-item>
            <ion-item class = "margine">
                <ion-label position = "floating">Inserimento del file da caricare</ion-label>
                <ion-input></ion-input>
            </ion-item>
  
            <ion-button (click) = "caricaDocumento()" expand = "full" color = "tertiary" fill = "solid" shape = "round" size = "large">Inserisci documento</ion-button>
            <ion-button (click)= "goBack()" expand = "full" color = "danger" fill = "solid" shape = "round" size = "large">Annulla</ion-button>
          </ion-card-content>
        </ion-card>
</ion-content>
