<ion-header>
  <ion-toolbar color = "secondary">
    <ion-buttons>
      <ion-button (click)= "goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title text-center>Approvazione Domanda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
    <ion-fab-button color= "tertiary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list>
      <ion-fab-button color="light" (click)="otherFunction()">
        <ion-icon name="cog"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
<ion-card class = "cardcompleta" color = "secondary">
  <ion-grid>
    <ion-row>
      <ion-col col-md-6></ion-col>
        <ion-icon horizontal = "center" name="filing" class = "immagine"></ion-icon>
      <ion-col col-md-6></ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-md-4></ion-col>
      <ion-col col-md-4>
        <ion-row>
          <ion-searchbar (click)="effettuaRicerca()" [(ngModel)] = "valorericerca" placeholder = "ricerca utente"></ion-searchbar>
        </ion-row>
      </ion-col>
      <ion-col col-md-4></ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
<ion-list>
  <ion-item text-center *ngFor="let item of images | async">
      <ion-thumbnail slot="start">  <img [src]="item.filepath" /> </ion-thumbnail>
      <ion-item-sliding>
        <ion-label>
        <h2>{{ item.name }}</h2>
        <p class = "paragrafo" slot="start">{{item.description}}</p>
        <p class = "paragrafo">Caricato da {{item.user}} il {{item.date}}</p>
        <ion-badge *ngIf="item.approval==0"><ion-icon name="cloud-circle" color="primary"></ion-icon>Da backoffice</ion-badge>
        <ion-badge *ngIf="item.approval==1"><ion-icon name="radio-button-on" color="warning"></ion-icon>In Esame</ion-badge>       
        <ion-badge *ngIf="item.approval==2"><ion-icon name="radio-button-on" color="danger"></ion-icon>Non Approvato</ion-badge>      
        <ion-badge *ngIf="item.approval==3"><ion-icon name="radio-button-on" color="success"></ion-icon>Approvato</ion-badge>
        </ion-label>
        </ion-item-sliding>
        <ion-button color = "success" (click) = "approvaDomanda(item)">Approva</ion-button>
        <ion-button color = "tertiary" (click) = "rigettaDomanda(item)">Rigetta</ion-button>
        <ion-button color = "secondary" [href]="item.filepath" target="_blank" rel="noopener">Scarica</ion-button>
    </ion-item>
  </ion-list>
</ion-content>