<ion-header>
  <ion-toolbar color = "secondary">
    <ion-buttons>
      <ion-button (click)= "goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title text-center>Lista Utenti</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
    <ion-fab-button color= "tertiary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list>
      <ion-fab-button color="light" (click)="paginaRegistrazione()">
        <ion-icon name="person-add"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" (click)="paginaIncontri()">
        <ion-icon name="clock"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" (click)="approvaDomanda()">
        <ion-icon name="filing"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" (click)="caricaDocumenti()">
        <ion-icon name="archive"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-grid>
    <ion-row>
      <ion-col col-md-6></ion-col>
      <ion-list>
        <ion-list-header class = "headerLista" color = "secondary">
          Lista degli Utenti
        </ion-list-header>
        <p *ngFor="let item of utenti | async">
        <ion-item text-center *ngIf="item.stato===false" (click) = "secgliOption(item)">
          <ion-thumbnail slot="start"> <ion-icon class = "icona" name="contacts"></ion-icon> </ion-thumbnail>
          <ion-item-sliding>
          <ion-label>
            <h2>Nome utente: {{ item.nome }} {{ item.cognome }}</h2>
            <p class = "paragrafo">Email della persona che incontrerai all'incontro: {{ item.email }}</p>
            <ion-badge class="margine" text-center *ngIf="item.stato===false"><ion-icon name="radio-button-on" color="success"></ion-icon>Non Assunto</ion-badge>
            <ion-badge text-center *ngIf="item.caricamenti===false"><ion-icon name="radio-button-on" color="danger"></ion-icon>Documenti Non Caricati</ion-badge>  
            <ion-badge text-center *ngIf="item.caricamenti===true"><ion-icon name="radio-button-on" color="tertiary"></ion-icon>Documenti caricati</ion-badge>            
            </ion-label>
            </ion-item-sliding>
        </ion-item>
        </p>
      </ion-list>
      <ion-col col-md-6></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
