.immagine {
    height: 45vh;
    width: 45vh;
}

.iconCards {
    width: 15vh;
    height: 15vh;
    margin-bottom: 3vh;
}

h1 {
    color: white;
    text-align: center;
}

.griglia {
    background-color: #03005a;
}

.dash {
    height: 3vh;
    width: 3vh;
}
.nero {
    color: black;
}

.titoloCard {
    color: grey;
    text-align: center;
}

.stileCard {
    background-color: snow;
}

.margine {
    margin-right: 1vh;
}

.intestazione {
    font-size: 4vh;
    font-style: italic;
    margin-left: 3vh;
    color: white;
}

p {
    size: 7vh;
    text-align: justify;
    margin-bottom: 4vh;
    color: grey;
}

.icona {
    width: 8vh;
    height: 8vh;
}

.paragrafo {
    margin-bottom: 1vh;
    color: grey;
}

.headerLista {
    size: 7vh;
}