<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back" (click)="goBack()" class = "dash"></ion-icon>
    <ion-icon name="barcode" class = "dash"> Dashboard </ion-icon>
    <ion-label class = "intestazione">Dashboard</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-md-6></ion-col>
      <ion-img class = "immagine" src="..\assets\img\Logo-hype2.png"></ion-img>
      <ion-col col-md-6></ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class = "griglia">
    <h1>Da quest'area potrai avere accesso a tutte le nostre funzionalità</h1>
    <ion-row>
      <ion-col col-md-4>
        <ion-card class = "stileCard">
          <ion-card-header>
            <ion-card-title class = "titoloCard">Registrazione nuovo utente</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col col-md-6></ion-col>
              <ion-icon name="person-add" class = "iconCards"></ion-icon>
              <ion-col col-md-6></ion-col>
            </ion-row>
            <p>Con questa funzionalità potrai aggiungere un nuovo utente all'interno del sistema</p>
            <ion-button (click) = "paginaRegistrazione()" class = "bottonecards" color = "success" expand = "full">Effettua Operazione</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-md-4>
        <ion-card class = "stileCard">
          <ion-card-header>
            <ion-card-title class = "titoloCard">Inserisci nuovo annuncio</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col col-md-6></ion-col>
              <ion-icon name="mail-open" class = "iconCards"></ion-icon>
              <ion-col col-md-6></ion-col>
            </ion-row>
            <p>Con questa funzionalità potrai aggiungere un nuovo annuncio all'interno del sistema</p>
            <ion-button (click) = "paginAnnunci()" class = "bottonecards" color = "success" expand = "full">Effettua Operazione</ion-button>
          </ion-card-content>
        </ion-card>              
      </ion-col>
      <ion-col col-md-4>
          <ion-card class = "stileCard">
              <ion-card-header>
                <ion-card-title class = "titoloCard">Inserisci incontro</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-row>
                  <ion-col col-md-6></ion-col>
                  <ion-icon name="clock" class = "iconCards"></ion-icon>
                  <ion-col col-md-6></ion-col>
                </ion-row>
                <p>Con questa funzionalità potrai definire un nuovo incontro all'interno del sistema</p>
                <ion-button (click) = "paginaIncontri()" class = "bottonecards" color = "success" expand = "full">Effettua Operazione</ion-button>
              </ion-card-content>
            </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
        <ion-col col-md-4>
          <ion-card class = "stileCard">
            <ion-card-header>
              <ion-card-title class = "titoloCard">Approva domanda</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-row>
                <ion-col col-md-6></ion-col>
                <ion-icon name="filing" class = "iconCards"></ion-icon>
                <ion-col col-md-6></ion-col>
              </ion-row>
              <p>Con questa funzionalità potrai approvare una domanda.</p>
              <ion-button (click) = "approvaDomanda()" class = "bottonecards" color = "success" expand = "full">Effettua Operazione</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-md-4>
          <ion-card class = "stileCard">
            <ion-card-header>
              <ion-card-title class = "titoloCard">Carica Documenti</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-row>
                <ion-col col-md-6></ion-col>
                <ion-icon name="archive" class = "iconCards"></ion-icon>
                <ion-col col-md-6></ion-col>
              </ion-row>
              <p>Con questa funzionalità potrai aggiungere un nuovo documento.</p>
              <ion-button (click) = "caricaDocumenti()" class = "bottonecards" color = "success" expand = "full">Effettua Operazione</ion-button>
            </ion-card-content>
          </ion-card>              
        </ion-col>
        <ion-col col-md-4>
            <ion-card class = "stileCard">
                <ion-card-header>
                  <ion-card-title class = "titoloCard">Elimina Utente</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <ion-row>
                    <ion-col col-md-6></ion-col>
                    <ion-icon name="trash" class = "iconCards"></ion-icon>
                    <ion-col col-md-6></ion-col>
                  </ion-row>
                  <p>Con questa funzionalità potrai eliminare un determinato utente</p>
                  <ion-button (click) = "eliminaUtente()" class = "bottonecards" color = "success" expand = "full">Effettua Operazione</ion-button>
                </ion-card-content>
              </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-md-4></ion-col>
        <ion-col col-md-4>
          <ion-card class = "stileCard">
            <ion-card-header>
              <ion-card-title class = "titoloCard">Aggiungi nuovo referente</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-row>
                <ion-col col-md-6></ion-col>
                <ion-icon name="person-add" class = "iconCards"></ion-icon>
                <ion-col col-md-6></ion-col>
              </ion-row>
              <p>Con questa funzionalità potrai aggiungere un nuovo referente</p>
              <ion-button (click) = "aggiungiReferente()" class = "bottonecards" color = "success" expand = "full">Effettua Operazione</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-md-4>
          <ion-card class = "stileCard">
            <ion-card-header>
              <ion-card-title class = "titoloCard">Elimina referente</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-row>
                <ion-col col-md-6></ion-col>
                <ion-icon name="trash" class = "iconCards"></ion-icon>
                <ion-col col-md-6></ion-col>
              </ion-row>
              <p>Con questa funzionalità potrai eliminare un referente</p>
              <ion-button (click) = "eliminaReferente()" class = "bottonecards" color = "success" expand = "full">Effettua Operazione</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
