<ion-header>
  <ion-toolbar color = "secondary">
    <ion-buttons>
      <ion-button (click)= "goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title text-center>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
    <ion-fab-button color= "tertiary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list>
      <ion-fab-button color="light" (click)="paginaRegistrazione()">
        <ion-icon name="person-add"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" (click)="paginaIncontri()">
        <ion-icon name="clock"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" (click)="approvaDomanda()">
        <ion-icon name="filing"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" (click)="caricaDocumenti()">
        <ion-icon name="archive"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <ion-grid>
    <ion-row>
      <ion-col col-md-6></ion-col>
      <ion-img class = "immagine" src="..\assets\img\OnBoardingLogo.png"></ion-img>
      <ion-col col-md-6></ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col col-md-6>
        <ion-list>
          <ion-list-header class = "headerLista" color = "secondary">
            Lista degli Utenti
          </ion-list-header>
          <p *ngFor="let item of utenti | async">
          <ion-item text-center *ngIf="item.stato===false" (click) = "secgliOption(item)">
            <ion-thumbnail slot="start"> <ion-icon class = "icona" name="contacts"></ion-icon> </ion-thumbnail>
            <ion-item-sliding>
            <ion-label>
              <h2>Nome utente: {{ item.nome }} {{ item.cognome }}</h2>
              <p class = "paragrafo">Email della persona che incontrerai all'incontro: {{ item.email }}</p>
              <ion-badge class="margine" text-center *ngIf="item.stato===false"><ion-icon name="radio-button-on" color="success"></ion-icon>Non Assunto</ion-badge>
              <ion-badge text-center *ngIf="item.caricamenti===false"><ion-icon name="radio-button-on" color="danger"></ion-icon>Documenti Non Caricati</ion-badge>  
              <ion-badge text-center *ngIf="item.caricamenti===true"><ion-icon name="radio-button-on" color="tertiary"></ion-icon>Documenti caricati</ion-badge>            
              </ion-label>
              </ion-item-sliding>
          </ion-item>
          </p>
        </ion-list>
      </ion-col>
      <ion-col col-md-6>
        <ion-list>
          <ion-list-header class = "headerLista" color = "secondary">
            Lista dei tuoi incontri giornalieri
          </ion-list-header>
          <ion-item text-center *ngFor="let item of incontri | async">
            <ion-thumbnail slot="start"> <ion-icon class = "icona" name="contacts"></ion-icon> </ion-thumbnail>
            <ion-item-sliding>
              <ion-label>
              <h2>Orario incontro: {{ item.ora }}</h2>
              <p class = "paragrafo">Email della persona che incontrerai all'incontro: {{item.emailUtente}}</p>
              <p class = "paragrafo">Luogo dell'incontro: {{ item.indirizzo }}</p>
              </ion-label>
              </ion-item-sliding>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class = "griglia">
    <h1>Da quest'area potrai avere accesso a tutte le nostre funzionalità</h1>
    <ion-row>
      <ion-col col-md-4>
        <ion-card class = "stileCard">
          <ion-card-header>
            <ion-card-title class = "titoloCard">Registrazione nuovo utente</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col col-md-6></ion-col>
              <ion-icon name="person-add" class = "iconCards"></ion-icon>
              <ion-col col-md-6></ion-col>
            </ion-row>
            <p>Con questa funzionalità potrai aggiungere un nuovo utente all'interno del sistema</p>
            <ion-button (click) = "paginaRegistrazione()" class = "bottonecards" color = "secondary" expand = "full">Effettua Operazione</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-md-4>
        <ion-card class = "stileCard">
          <ion-card-header>
            <ion-card-title class = "titoloCard">Inserisci nuovo annuncio</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col col-md-6></ion-col>
              <ion-icon name="mail-open" class = "iconCards"></ion-icon>
              <ion-col col-md-6></ion-col>
            </ion-row>
            <p>Con questa funzionalità potrai aggiungere un nuovo annuncio all'interno del sistema</p>
            <ion-button (click) = "paginAnnunci()" class = "bottonecards" color = "secondary" expand = "full">Effettua Operazione</ion-button>
          </ion-card-content>
        </ion-card>              
      </ion-col>
      <ion-col col-md-4>
          <ion-card class = "stileCard">
              <ion-card-header>
                <ion-card-title class = "titoloCard">Inserisci incontro</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-row>
                  <ion-col col-md-6></ion-col>
                  <ion-icon name="clock" class = "iconCards"></ion-icon>
                  <ion-col col-md-6></ion-col>
                </ion-row>
                <p>Con questa funzionalità potrai definire un nuovo incontro all'interno del sistema</p>
                <ion-button (click) = "paginaIncontri()" class = "bottonecards" color = "secondary" expand = "full">Effettua Operazione</ion-button>
              </ion-card-content>
            </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
        <ion-col col-md-4>
          <ion-card class = "stileCard">
            <ion-card-header>
              <ion-card-title class = "titoloCard">Approvazione domanda</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-row>
                <ion-col col-md-6></ion-col>
                <ion-icon name="filing" class = "iconCards"></ion-icon>
                <ion-col col-md-6></ion-col>
              </ion-row>
              <p>Con questa funzionalità potrai approvare una domanda.</p>
              <ion-button (click) = "approvaDomanda()" class = "bottonecards" color = "secondary" expand = "full">Effettua Operazione</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-md-4>
          <ion-card class = "stileCard">
            <ion-card-header>
              <ion-card-title class = "titoloCard">Carica Documenti</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-row>
                <ion-col col-md-6></ion-col>
                <ion-icon name="archive" class = "iconCards"></ion-icon>
                <ion-col col-md-6></ion-col>
              </ion-row>
              <p>Con questa funzionalità potrai aggiungere un nuovo documento.</p>
              <ion-button (click) = "caricaDocumenti()" class = "bottonecards" color = "secondary" expand = "full">Effettua Operazione</ion-button>
            </ion-card-content>
          </ion-card>              
        </ion-col>
        <ion-col col-md-4>
            <ion-card class = "stileCard">
                <ion-card-header>
                  <ion-card-title class = "titoloCard">Elimina/Assumi Utente</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <ion-row>
                    <ion-col col-md-6></ion-col>
                    <ion-icon name="trash" class = "iconCards"></ion-icon>
                    <ion-col col-md-6></ion-col>
                  </ion-row>
                  <p>Con questa funzionalità potrai eliminare o assumere un determinato utente</p>
                  <ion-button (click) = "eliminaUtente()" class = "bottonecards" color = "secondary" expand = "full">Effettua Operazione</ion-button>
                </ion-card-content>
              </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-md-4>
          <ion-card class = "stileCard">
            <ion-card-header>
              <ion-card-title class = "titoloCard">Impostazioni account</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-row>
                <ion-col col-md-6></ion-col>
                <ion-icon name="cog" class = "iconCards"></ion-icon>
                <ion-col col-md-6></ion-col>
              </ion-row>
              <p>Accedi ad altre funzionalità</p>
              <ion-button (click) = "altreFunzioni()" class = "bottonecards" color = "secondary" expand = "full">Effettua Operazione</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-md-4>
          <ion-card class = "stileCard">
            <ion-card-header>
              <ion-card-title class = "titoloCard">Aggiungi nuovo referente</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-row>
                <ion-col col-md-6></ion-col>
                <ion-icon name="person-add" class = "iconCards"></ion-icon>
                <ion-col col-md-6></ion-col>
              </ion-row>
              <p>Con questa funzionalità potrai aggiungere un nuovo referente</p>
              <ion-button (click) = "aggiungiReferente()" class = "bottonecards" color = "secondary" expand = "full">Effettua Operazione</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-md-4>
          <ion-card class = "stileCard">
            <ion-card-header>
              <ion-card-title class = "titoloCard">Elimina referente</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-row>
                <ion-col col-md-6></ion-col>
                <ion-icon name="trash" class = "iconCards"></ion-icon>
                <ion-col col-md-6></ion-col>
              </ion-row>
              <p>Con questa funzionalità potrai eliminare un referente</p>
              <ion-button (click) = "eliminaReferente()" class = "bottonecards" color = "secondary" expand = "full">Effettua Operazione</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
