.cardcompleta{
    vertical-align: top;
    margin-bottom: 5vh;
    margin-right: 5vh;
    margin-left: 5vh;
}

.centro{
    text-align: center;
    margin-bottom: 1ch;
    color: white;
}

.margine{
    margin-bottom: 1ch;
}

.intestazione {
    font-size: 4vh;
    font-style: italic;
    margin-left: 4vh;
    color: white;
}

.colore {
    background-color: red($color: #000000);
}

.marginemod {
    margin-bottom: 1ch;
    margin-top: 1ch;
}

.menu {
    background-color: blueviolet;
}

.freccia {
    height: 6vh;
    width: 6vh;
}

.link {
    color: orangered;
}

p{
    font-size: 5vh;
}

.go-to-login {
    font-size: 3vh;
} 