h1{
    text-align: center;
    font-style: italic;
    font-size: 4vh;
    margin-bottom: 3vh;
    color: #03005a;
}

p {
    text-align: justify;
    font-size: 3vh;
}

.titolo {
    text-align: left;
    color: red;
    font-style: italic;
    margin-bottom: 3vh;
}

.dash {
    height: 6vh;
    width: 6vh;
}

.iconCards {
    height: 15vh;
    width: 15vh;
    padding-left: 2vh;
}

.divProva {
    position: inherit;
}

.intestazione {
    font-size: 4vh;
    font-style: italic;
    margin-left: 4vh;
    color: white;
}

.titolocards {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: red;
    font-size: 3vh;
}

.link {
    color: orangered;
}

.testoriga {
    text-align: justify;
}

.stileCards {
    background-color: skyblue;
}

.bottonecards {
    margin-top: 4vh;
}

.immagine {
    height: 50vh;
    width: 50vh;
}

.immagine1 {
    height: 25vh;
    width: 25vh;   
}

.immagine2 {
    height: 25vh;
    width: 25;
}

.griglia {
    background-color: darkgrey;
}

.cardcompleta{
    vertical-align: top;
    margin-bottom: 5vh;
    margin-right: 5vh;
    margin-left: 5vh;
}

.margine{
    margin-bottom: 1ch;
}

.cardAnnuncio {
    background-color: thistle;
}

.avatar {
    width: 6vh;
    height: 6vh;
    margin-right: 3vh;
}

.colonna1 {
    background-color: rgb(250, 243, 146);
}

.marginemod {
    margin-top: 3vh;
}