<ion-header>
  <ion-toolbar color = "secondary">
    <ion-buttons>
      <ion-button (click)= "goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title text-center>Elimina Referente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
    <ion-fab-button color= "tertiary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list>
      <ion-fab-button color="light" (click)="otherFunction()">
        <ion-icon name="cog"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <ion-card class = "cardcompleta" color = "secondary">
    <ion-grid>
      <ion-row>
        <ion-col col-md-6></ion-col>
          <ion-icon horizontal = "center" name="trash" class = "immagine"></ion-icon>
        <ion-col col-md-6></ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-md-4></ion-col>
        <ion-col col-md-4>
          <ion-searchbar (click) =  effettuaRicerca() [(ngModel)] = "valorericerca" placeholder = "ricerca utente"></ion-searchbar>
        </ion-col>
        <ion-col col-md-4></ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-grid class = "colonna1" *ngIf = "ricercaFatta">
  <ion-row>
    <ion-col col-md-6></ion-col>
        <ion-col col-md-6 class = "colonna1" *ngFor = "let item of items | async">
            <h1>Risultato della ricerca</h1>
            <h2 text-center>{{item.email}}</h2>
            <h1>Altre informazioni</h1>
            <p>Nome:</p> {{item.nome}}
            <p>Cognome:</p> {{item.cognome}}
            <p>Codice fiscale:</p> {{item.codice_fiscale}}
            <p>Indirizzo:</p> {{item.indirizzo}}
            <ion-button (click)= "eliminaUtente(item)" expand = "full" color = "secondary" fill = "solid" shape = "round" size = "large">Conferma eliminazione</ion-button>
            <a class = "link" (click)="goBack()">Clicca qui per annullare l'operazione</a>
          </ion-col>
    <ion-col col-md-6></ion-col>
  </ion-row>
</ion-grid>
</ion-content>