<ion-card class = "cardcompleta">
  <ion-card-header>
    <ion-card-title color = "light" class = "centro">Inserisci le tue credenziali</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item class = "margine">
      <ion-input [(ngModel)]="user" placeholder = "Username"></ion-input>
    </ion-item>
    <ion-item class = "margine">
      <ion-input [(ngModel)]="pass" placeholder = "Password" type = "password"></ion-input>
    </ion-item>
    <ion-button (click)= "effettuaLogin()" expand = "full" color = "tertiary" fill = "solid" shape = "round" size = "large">Log In</ion-button>
    <ion-button (click)= "registrati()" expand = "full" color = "tertiary" fill = "solid" shape = "round" size = "large">Registrazione</ion-button>
  </ion-card-content>

  <ion-button (click)= "sezioneProva()">Prova</ion-button>
</ion-card>